<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- use this command in the terminal -->
    <!--sass --no-source-map --watch scss:css-->

    <!-- title -->
    <title></title>

    <!-- description -->
    <meta name="description" content="This is my first homepage" />

    <!-- icon -->
    <link rel="shortcut icon" type="image/ico" href="icon/favicon.ico" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="dist/css/style.css" />
  </head>

  <body></body>
</html>
